@import url('https://fonts.cdnfonts.com/css/8bit-wonder');
@import url('https://fonts.cdnfonts.com/css/ernest-borgnine');

.gameplay {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.YourName {
  color: white;
  animation: heartbeat 0.6061s infinite;
}

.name-input {
  font-family: '8BIT WONDER', sans-serif;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.name-input input {
  display: block;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
}

.name-input button {
  padding: 10px 20px;
  font-family: '8BIT WONDER', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.name-confirm {
  color: white;
  font-family: '8BIT WONDER', sans-serif;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.name-confirm button {
  padding: 10px 20px;
  font-family: '8BIT WONDER', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 25px;
}

.WarningMessage {
  display: none;
  margin-top: 25px;
  color: red;
  position: fixed;
  white-space: nowrap;
  transform: translateX(-25%);
}

.ConfirmMSG {
  animation: heartbeat 0.6061s infinite;
}

.sound-effect-settings {
  font-family: '8BIT WONDER', sans-serif;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* make sound Effect displayed as row */
.slider-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.slider-wrapper {
  margin-right: 10px;
}

.slider-effect {
  width: 100px;
}

.slider-music {
  width: 100px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* typing-animation.component.css */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.typing-text {
  font-family: 'Ernest', sans-serif;
  font-size: 400%;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  animation: typing 2s steps(40);
}

.typing-text.finished {
  animation-duration: 0s;
  /* Set custom animation duration to finish immediately */
}

.action-input {
  font-family: '8BIT WONDER', sans-serif;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.action-input input {
  font-family: '8BIT WONDER', sans-serif;
  display: block;
  margin-top: 35%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  color: black;
}

.action-input button {
  padding: 10px 20px;
  font-family: '8BIT WONDER', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 30%;
  position: absolute;
  top: 50%;
  left: 25%;
}


.button button {
  padding: 10px 20px;
  font-family: '8BIT WONDER', sans-serif;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 10px;
}


.Text_field_name {
  align-items: center;
  padding: 10px 20px;
  font-family: '8BIT WONDER', sans-serif;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.Text_field_name input {
  flex-grow: 1;
}

.Text_field_name input::placeholder {
  text-align: center;
}