<div [@fadeIn]="state" class="gameplay">
  <div class="canvas-overlay">
    <div *ngIf="showNameInput" class="name-input">
      <div class="YourName">What is your name?</div>
      <input
        class="Text_field_name"
        type="text"
        [(ngModel)]="playerName"
        placeholder="Enter your name"
        (keydown.enter)="onEnterClicked()"
      />
      <button (click)="onEnterClicked()">Enter</button>
    </div>
    <div *ngIf="NameConfirm" class="name-confirm">
      <div class="ConfirmMSG">your name is {{playerName}}?</div>
      <button (click)="onConfirmClicked()">YES</button>
      <div class="WarningMessage" [ngStyle]="{ 'display': WaningMessage ? 'block' : 'none' }">warning : if you proceed this you can't go back</div>
      <button (click)="onNoClicked()">NO</button>
    </div>
  </div>s
  <div class="sound-effect-settings">
    <div class="slider-row">
      <div class="slider-wrapper">
        <label>Music</label>
        <input
          class="slider-music"
          id="music"
          type="range"
          min="0"
          step="0.01"
          max="1"
          value="10"
          [(ngModel)]="MusicVolume"
          (input)="onMusicVolumeChange()"
        />
      </div>
      <div class="slider-wrapper">
        <label>Effect</label>
        <input
          class="slider-effect"
          id="effect"
          type="range"
          min="0"
          step="0.01"
          value="0.1"
          max="1"
          [(ngModel)]="EffectVolume"
          (input)="onEffectVolumeChange()"
        />
      </div>
    </div>
  </div>
  <div class="button">
    <button [disabled]="isConfirmClicked" id="BackBtn" (click)="onBack()">Back</button>
  </div>
</div>
